@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-16">
        <h4>Click on the below button to get the API Result</h4>
        
        <p><a class="btn btn-default" href="home/result">Get Tweets</a></p>
    </div>
   
</div>